@import "tailwindcss";

@theme {
  --color-dark: #08090A;
  --color-warm: #F5EFE3;
  --color-gold: oklch(76.9% 0.188 70.08);
}

html{
  scroll-behavior: smooth;
}

body{

  overflow-x: hidden;
}

.vertical-text {
  writing-mode: vertical-rl;
}


@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
